{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- normal -->
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <!-- no namespace -->
        <!-- <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li> -->
        <!-- add name space -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
